<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%-5level] %logger{36} - %msg%n" />
        </Console>
        <File name="LogToFile" fileName="/luis-telegram-bot.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%-5level] %logger{36} - %msg%n"/>
        </File>
        <Jdbc name="LogToDatabase" tableName="log">
            <DriverManager connectionString="jdbc:postgresql://ec2-52-212-228-71.eu-west-1.compute.amazonaws.com:5432/d411u4lmds2jn5" driverClassName="org.postgresql.Driver" username="daqaolaeqskobk" password="5983702ab312d9928903e31f96fa7eb47c5b365e44affb6e4fac8d950428b784"  />
<!--            <DriverManager connectionString="jdbc:postgresql://localhost:5432/luis_assistant_bot" driverClassName="org.postgresql.Driver" username="bryanin" password="1Q2w3e4r"  />  -->
            <Column name="event_date" isEventTimestamp="true" />
            <Column name="level" pattern="%level" isUnicode="false" />
            <Column name="logger" pattern="%logger{36}" isUnicode="false"/>
            <Column name="message" pattern="%message" isUnicode="false" />
            <Column name="exception" pattern="%exception"  isUnicode="false" />
        </Jdbc>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToDatabase"/>
        </Root>
    </Loggers>
</Configuration>
